[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nose = "*"
requests = "*"
assertpy = "*"
locustio = "*"
ipython = "*"
pandas = "*"
statsmodels = "*"
matplotlib = "*"
pytest = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8.2"
